@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #020202;
  color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Custom Scrollbar for Syrix Hub */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}